body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555555;
    background-color: #ffd467;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.Buttons {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100%;
}
.Button {
    padding: 50px;
    font-size: large;
    color: inherit;
    background-color: #c977b5;
    box-shadow: 0 0px 50px 0 rgba(0,0,0,.5);
    border: 0px;
    border-radius: 5px;
}
.Display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-basis: 100%;
}
.Wins {
    display: flex;
    gap:400px;
    justify-content: space-evenly;
}
.disabled {
    background-color: plum;
    opacity: 0.8;
    cursor: not-allowed;
}